.idea
.cache

# Xmake cache
.xmake/
build/

# Generated projects from xmake
CMakeLists.txt
cmake-build-debug

compile_commands.json

vs2022
vsxmake2022

makefile

# MacOS Cache
.DS_Store


